<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小清新</string>
	</dict>
	<dict>
		<key>name</key>
		<string>甜素纯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>清纯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>校花</string>
	</dict>
	<dict>
		<key>name</key>
		<string>气质</string>
	</dict>
	<dict>
		<key>name</key>
		<string>唯美</string>
	</dict>
	<dict>
		<key>name</key>
		<string>萝莉</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时尚</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长发</string>
	</dict>
	<dict>
		<key>name</key>
		<string>短发</string>
	</dict>
	<dict>
		<key>name</key>
		<string>可爱</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素颜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>非主流</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高雅大气很有范</string>
	</dict>
	<dict>
		<key>name</key>
		<string>知性</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阳光</string>
	</dict>
</array>
</plist>
